@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&family=Source+Code+Pro&display=swap');

body{
    font-family: 'Noto Sans TC', sans-serif;
    @apply text-primary-sec dark:text-primary bg-primary dark:bg-dark-primary duration-300
}

.darkLight{
  @apply w-10 h-10 text-xl flex justify-center items-center rounded-full
}

.xing{
    font-family: 'Noto Serif TC', serif;
}

.codeLine{
    @apply rounded-md bg-gray-100 dark:bg-gray-800 px-1 py-1 mx-1
}

.codeBlock{
    @apply rounded-md bg-slate-100 dark:bg-slate-800 px-2 py-1 border-2 border-slate-300 dark:border-slate-600
}

.code{
    font-family: 'Source Code Pro', monospace;
    @apply text-base text-slate-700 dark:text-slate-200 break-all
}

.link{
    @apply text-blue-500 underline hover:text-blue-800 duration-300
}
.header{
    @apply mx-auto max-w-5xl lg:px-24 md:px-12
}
.container{
    @apply mx-auto max-w-5xl lg:px-24 md:px-12 px-4 border-b border-light dark:border-dark-light
}

h2{
    @apply text-3xl
}

h3{
    @apply text-2xl
}

h4{
    @apply text-xl
}

h5{
    @apply text-base
}

h6{
    @apply opacity-60 text-base
}

p{
    @apply text-lg text-text dark:text-dark-text leading-loose
}

.link{
    @apply text-blue-600 hover:underline leading-loose no-underline
}


/* nav bar */
.nav_toggle_bar{
    @apply bg-primary-sec dark:bg-dark-primary-sec
}
.nav_toggle .nav_toggle_bar{
    @apply block h-1 w-8 rounded-full absolute duration-300
}

.nav_toggle.active .nav_toggle_bar:nth-of-type(1){
    @apply rotate-45 translate-y-1.5
}
.nav_toggle.active .nav_toggle_bar:nth-of-type(2){
    @apply -rotate-45 -translate-y-1.5
}
  
  /* min width */
  
  @media screen and (max-width: 760px){
  
    .nav_menu{
      @apply fixed w-full bg-primary dark:bg-primary-sec shadow-2xl shadow-black rounded-b-3xl top-0 pt-10 pb-5 px-6 duration-500 opacity-90
    }
  
    .nav_menu.active{
      @apply -top-96 opacity-0
    }
    
    .nav_list{
      @apply flex flex-col w-full
    }
  
    .nav_link{
      @apply flex items-center justify-center text-xl duration-300 w-full h-16 hover:text-secondary
    }
  
    .nav_toggle{
      @apply absolute right-0 top-0
    }
  }


  /* normal screen */

@media screen and (min-width: 760px){
    .nav_menu{
      @apply top-0 ml-auto
    }
  
    .nav_list{
      @apply flex ml-auto w-fit
    }
  
    .nav_link{
      @apply flex items-center hover:text-secondary hover:dark:text-dark-secondary duration-300 px-10 h-full w-full cursor-pointer
    }
  
    .nav_toggle{
      @apply absolute -right-20 opacity-0
    } 
  }
